{% extends "frlsim/base.html" %}

{% block title %}Compilations by short title{% endblock %}

{% block content %}
	<h1>Compilations by short title</h1>
	<ul class="ui list">
		{% for compilation in compilations %}
			<li><a href="/compilation/{{ compilation.code }}">{{ compilation.principal.metadata.title }} (up to the {{ compilation.upto.metadata.title }})</a></li>
		{% endfor %}
	</ul>
{% endblock %}
