{% extends "frlsim/base.html" %}

{% block title %}Acts by short title{% endblock %}

{% block content %}
	<h1>Acts by short title</h1>
	
	{% for letter, letter_acts in acts|sort(attribute='metadata.title')|groupby('metadata.title.0') %}
		<h2>{{ letter }}</h2>
		<ul class="ui list">
			{% for act in letter_acts %}
				<li><a href="/act/{{ act.code }}">{{ act.metadata.title }}</a>{% if act.repealed_by %}(Repealed){% endif %}</li>
			{% endfor %}
		</ul>
	{% endfor %}
{% endblock %}
