{% extends "frlsim/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
	<div class="ui grid">
		<div class="eight wide column">
			<p>The <b>Model New Zealand Register of Legislation</b> catalogues Model New Zealand legislation and related documents. It contains the full text and details of the lifecycle of individual laws and the relationships between them.</p>
			<p>The Register of Legislation was created by <a href="https://www.reddit.com/u/BHjr132">/u/BHjr132</a>, and is managed with help from the Speakership and other members of the Model New Zealand community.</p>
			<p>This website is inspired by, and based on the source code, of <a href="http://australiasim.xyz/">http://australiasim.xyz/</a>.</p>
		</div>
		<div class="eight wide column">
			<h1>Acts</h1>
			<div class="ui two column grid">
				<div class="column">
					<ul class="ui list">
						<li>
							As made
							<ul>
								<li><a href="/acts/bydate">By term and number</a></li>
								<li><a href="/acts/byparty">By party</a></li>
								<li><a href="/acts/byportfolio">By portfolio</a></li>
								<li><a href="/acts/bytitle">By short title</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="column">
					<ul class="ui list">
						<li>
							In force
							<ul>
								<li><a href="/acts/inforce/bytitle">By short title</a></li>
								<li><a href="/acts/compilations/bytitle">Compilations by short title</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			
			<!--<h1>Instruments</h1>
			<ul class="ui list">
				<li>
					As made
					<ul>
						<li><a href="/legislation/instruments/bydate">By term and number</a></li>
						<li><a href="/legislation/instruments/bytitle">By title</a></li>
					</ul>
				</li>
			</ul>-->
		</div>
	</div>
{% endblock %}
