{% extends "frlsim/base.html" %}

{% block title %}Instruments by title{% endblock %}

{% block content %}
	<h1>Instruments by title</h1>
	
	{% for letter, letter_instruments in instruments|sort(attribute='metadata.title')|groupby('metadata.title.0') %}
		<h2>{{ letter }}</h2>
		<ul class="ui list">
			{% for instrument in letter_instruments %}
				<li><a href="/instrument/{{ instrument.code }}">{{ instrument.metadata.title }}</a></li>
			{% endfor %}
		</ul>
	{% endfor %}
{% endblock %}
