{% extends "frlsim/base.html" %}

{% block title %}Instruments by year and number{% endblock %}

{% block content %}
	<h1>Instruments by term and number</h1>
	
	{% for year, year_instruments in instruments|groupby('year') %}
		<h2>{{ year }}</h2>
		<ul class="ui list">
			{% for instrument in year_instruments %}
				<li><a href="/instrument/{{ instrument.code }}">No. {{ instrument.number }}: {{ instrument.metadata.title }}</a></li>
			{% endfor %}
		</ul>
	{% endfor %}
{% endblock %}
